body {
  overflow: hidden;
  min-height: 100vh;
  cursor: crosshair; /*souris cible */
}
.bubble {
  position: absolute;
  border-radius: 300px;
  background-color: rgba(60, 173, 38, 0.747);
  opacity: 0;
  animation: anim 8s forwards; /*forward va permettre de revenir a l'etat inital de ma bulle a la fin de mon animation */
  filter: hue-rotate(
    0deg
  ); /*Cela permet de mettre des filtre au couleur de ma roue chromatique etat initial */
}
@keyframes anim {
  to {
    top: -250px;
    left: var(--left); /*on injecte une variable determiner en js*/
    opacity: 1;
    filter: hue-rotate(
      720deg
    ); /*on cela va permettre de faire 3 tour de ma roue chromatique lors de mon animation */
  }
}
h3 {
  font-size: 10rem;
  text-align: center;
  margin-top: 20px;
  color: grey;
}
