@media screen and (max-width: 670px) {
  /*techno.css*/
  .contentFront {
    flex-wrap: wrap;
  }
  .contentBack.reveal {
    flex-wrap: wrap;
  }
  .contentOutils {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 840px) {
  /*index.html*/
  .myAncre {
    font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  /*nav.css*/
  nav {
    display: none !important;
  }
  /*header.css*/
  header {
    align-items: center;
  }
  /*techno.css*/
}

@media screen and (max-width: 490px) {
  /*index.html*/
  .content-project {
    display: none;
  }
}
